<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>$(API_KEY)</string>
	<key>ASSISTANT_ID</key>
	<string>$(ASSISTANT_ID)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Alike-Regular.ttf</string>
		<string>Inter-VariableFont_opsz,wght.ttf</string>
	</array>
</dict>
</plist>
